/* use this to put borders around things... */
body{
		background: white; 
		color:gray;
}

a{
	color: rgb(130,0,0);
		text-decoration: none;
		font-size: 15pt;

}

a:hover{
	color: black;
	background: white;
	text-decoration: none;
}

h4{

	font-size:14pt;
}
h3{
	color: rgb(25,25,112);
}

li{
	color: rgb(105,105,105);
	font-size:12pt;
	font-family: monospace;
}




.indent {
	margin-left: 20px;
	margin-top: 20px;
}
.crop-img{
  max-height:260px;
  max-width:100%;
  margin-bottom: 20px;
}

.large-img{
  max-width:100%;
  margin-top: 10px;
}

.head_main{
	margin-top: 50px;
	margin-left: 37%;
}

.sign_main{
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: 40%;
}

.table_dim{
	width: 100%;
	height: 80%;

}
.pic_dim{
	margin-top: 20%;
	margin-left: 35%;
}