/* use this to put borders around things... */
body{
		background: white; 
		color:gray;
}

a{
		text-decoration: none;
		font-size: 15pt;

}

a:hover{
	color: black;
	background: white;
}
h4{
	color:red;
}
h4{
	font-family: monospace;
	font-size: 12pt;
}

li{
	color: red;
	font-family: monospace;
}
.indent {
	margin-left: 20px;
	margin-top: 20px;
}
.crop-img{
  max-height:260px;
  max-width:100%;
  margin-bottom: 20px;
}

.large-img{
  max-width:100%;
  margin-top: 10px;
}

.head_main{
	margin-top: 50px;
	margin-left: 35%;
}